<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <property name="path">${bundle:application:logging.file.path}</property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%highlight{%-5level}] %-60c{3.} - %msg%n" disableAnsi="false"/>
        </Console>
        <File name="File" fileName="${path}/${date:yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%-5level] %-60c{3.} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
